<table>
  <thead>
    <tr>
      <td>
        Title
      </td>
      <td>
        Director
      </td>
    </tr>
  </thead>
  <tbody>
  <% movies.each do |movie| %>
    <tr>
      <td><%=link_to movie.title, movie %></td>
      <td><%=movie.director&.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%=button_to "Add New Movie", new_movie_path, method: :get %>